# Ignore all config.json files
**/config.json

# Ignore all .env files
**/.env

# Ignore all node_modules directories
**/node_modules/

# Ignore all dist directories
**/dist/

# Ignore all log files
**/*.log

# Ignore all temp folders
**/temp/

# Ignore Migration File
/http/prisma/migrations/
